body {
  font-family: 'Open Sans', sans-serif;
}

.menu{
  background-color: rgba(0,0,0,.6);
}

 ul li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  text-decoration: none; 
  list-style-type:none ;
}


ul {
  list-style-type: none;
  padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3b3b;
}

h2{
  /* font-family: 'Fira Sans',sans-serif; */
  font-weight: 200;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0em;
}

select{
  height: 100%;
}

#financial{
  height: 320px;
  background: rgb(37, 37, 37);
}
.whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
}